body{margin:0px !important;}
html,body {
    background: #FFFFFf
}

.inner{
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*!*border:1px solid #F3F3F3;*!*/
    /*!*background:#F3F3F3;*!*/
    /*padding:10px;*/
}
.icon{
    padding-left:5px;
    color:#1072BD
}
.headerText {
    text-align:center;
    padding-left:10px;
    font-size:1em;
}
.existingTags {
    /*border-radius: 2px;*/
    /*background:white;*/

    margin-top: 0px;
    padding:15px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.header {
    padding: 5px;
    background: #F4F9FD;
}
.tags {
    background: #28343d;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    margin: 5px;
    position: relative;
    color:white;
    font-size:1em;
}
.tags-icon{
    font-size:1.5em;
    color:#1072BD
}

.outer {
    /*-webkit-box-shadow: -1px 2px 17px -2px rgba(0,0,0,0.58);*/
    /*-moz-box-shadow: -1px 2px 17px -2px rgba(0,0,0,0.58);*/
    /*box-shadow: -1px 2px 17px -2px rgba(0,0,0,0.58);*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    padding:3px;
    /*border:1px solid #e6e6e6;*/
}

.loading {
    height:170px;
    width:500px;
}

/*.loading .outer{*/
    /*height:100%*/
/*}*/
/*.loading .inner{*/
    /*height:100%*/
/*}*/
.loaded {
    height:170px;
    width:500px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #ddd;
}

.thecube {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.thecube .cube {
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.thecube .cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.thecube .cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EF4056;
    -webkit-animation: foldthecube 2.4s infinite linear both;
    animation: foldthecube 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.thecube .c2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.thecube .c3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.thecube .c4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.thecube .c2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.thecube .c3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.thecube .c4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes foldthecube {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
@keyframes foldthecube {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
.nice-select{
    border-radius: 0px !important;
    border: 1px solid #1072BD;
    height: 30px;
    line-height: 28px;

}

hr {
    color:#1072BD;
    margin-top: 0px;
}
.panel-default > .panel-heading {
    color: #1072BD !important;
}
.btn {
    border-radius: 0px;
}

.panel-group .panel {
    border-radius: 0px;
}