body{margin:0px !important;}

.inner{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:3px;
    border:1px solid #F3F3F3;
    background:#F3F3F3;
    padding:10px;
}
.icon{
    padding-left:5px;
    color:#EF4056
}
.headerText {
    text-align:center;
    padding-left:10px;
    font-size:2em;
}
.existingTags {
    /*border-radius: 2px;*/
    /*background:white;*/

    margin-top:10px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:5px;
}
.tags {
    background: #28343d;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    margin: 5px;
    position: relative;
    color:white;
    font-size:1em;
}
.tags-icon{
    font-size:1.5em;
    color:#999999
}

.outer {
    -webkit-box-shadow: -1px 2px 17px -2px rgba(0,0,0,0.58);
    -moz-box-shadow: -1px 2px 17px -2px rgba(0,0,0,0.58);
    box-shadow: -1px 2px 17px -2px rgba(0,0,0,0.58);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:3px;
    border:1px solid #e6e6e6;
}

.loading {
    height:70px;
    width:400px;
}
.loaded {
    height:70px;
    width:600px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #ddd;
}
