//
   Created by abhikmitra on 12/15/16.

extends layout

block content
    div.container
        .row
            .col.col-lg-12.text-center(style="padding-top:200px")
                img.officeIcon(src="/images/office.png")
                h2
                    |You have connected your 0ffice 365 account successfully!
    div#sendCredsToBackground
    script
        | setTimeout(function () {
        |             window.close();
        |         }, 1000);