//
   Created by abhikmitra on 12/15/16.

extends layout

block content
    div.container
        .row
            .col.col-lg-12.text-center(style="padding-top:100px")
                img.officeIcon(src="/images/icon.png")
                h2(style="color:#E83E1A")
                    |Please wait while we fetch your details from Office Graph!
    div#sendCredsToBackground
    script
        | setTimeout(function () {
        |             window.close();
        |         }, 1500);