doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    script(src="/javascripts/jquery.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
  body
    block content
