<!doctype html>
<html>
<head>
    <link href="/libraries/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/libraries/nice-select.css" rel="stylesheet">
    <!-- Include the plugin's CSS and JS: -->
    <script src="/libraries/jquery.min.js"></script>
    <script src="/libraries/masonry.js"></script>
    <script src="/libraries/lodash.min.js"></script>
    <script src="/libraries/jquery.nice-select.min.js"></script>
    <script src="/libraries/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/libraries/bootstrap/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="/libraries/bootstrap/css/bootstrap-multiselect.css" type="text/css"/>
    <link href="/css/popup.css" rel="stylesheet">
    <script src="/js/popup.js"></script>

</head>
<body>

<div id="container" class="loading">
    <div class="outer">
        <div class="inner">

            <div class="header clearfix">
                <div class="icon pull-left">

                    <!--<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw "></i>-->
                    <i class="fa fa-bookmark" style="font-size: 33px;" aria-hidden="true"></i>
                </div>
                <div class="headerText pull-left">
                    <!--<select id="groupList">
                        <option data-display="Share to O365 Group">Select Group</option>
                    </select>-->
                    <!-- Build your select: -->
                    <select id="groupList" multiple="multiple">
                    </select>
                </div>
                <div class="saved-show pull-right">
                   <button class="btn btn-success" id="shareToGroup">
                       <i class="fa fa-paper-plane" aria-hidden="true"></i>
                   </button>
                    <button class="btn btn-success disabled" id="sharing">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i>
                    </button>
                </div>
                <!--<div class="headerText pull-left saving-hide">-->
                    <!--Analyzing Page-->
                <!--</div>-->
            </div>
            <hr>

            <div class="panel-group existingTags" id="accordion" role="tablist" aria-multiselectable="false" style="display: none" >
                <div id="fakeNews" style="display: none;color:#FF4200" >
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This url seems to be from a site flagged for incorrect news.
                </div>
                <br/>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa fa-envelope-open" aria-hidden="true"></i>
                                Subject
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <textarea id="additionalContent" class="form-control" rows="3" placeholder="Enter subject of the message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-tags" aria-hidden="true"></i>
                               HashTags
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="saving-show" style="height: 190px">
                                <div class="saving-show text-center">
                                    <h3>Analyzing Page</h3>
                                </div>
                                <div class="thecube saving-show">
                                    <div class="cube c1"></div>
                                    <div class="cube c2"></div>
                                    <div class="cube c4"></div>
                                    <div class="cube c3"></div>
                                </div>
                            </div>
                            <div  id="tagDisplay" class="saved-show">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>